/*
Author: Natalia Guevara
Class: CS 1XD3
Date Created: 31 January 2025
Date Last Modified: 2 February 2025
Description: CSS for Web Layout Assignment. The design of the site. 
 */

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #EEF4D4;
}

#container {
    display: flex; 
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
}

#header {
    background-color: #EA9E8D;
    padding: 10px; 
    margin-right: 10px;
    align-items: center;
    border: 5px solid #1c2826;
}
#header p {
    font-size: 18px;
}
#header a {
    color: #eef4d4;
}
#header img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

#grid {
    display: grid; 
    grid: ". . . ."; 
    gap: 15px; 
    margin-top: 10px;
}
#grid div{
    background-color: #DAEFB3;
    padding: 10px;
    text-align: center;
    border: 5px #1c2826 double;
}
#grid div img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}
#grid a {
    color: #1c2826;
}
.grid_text {
    display: flex; 
    flex-direction: column; 
}

.h_link {
    font-weight: bold;
    font-size: 24px;
}
.p_link {
    font-size: 12px; 
}

@media (max-width: 1023.9999px) {
    #container {
        flex-direction: column;
    }

    #header {
        display: flex; 
        padding-bottom: 10px;
        margin-right: 0px;
    }
    #header p {
        font-size: 20px;
    }
    #header div {
        width: 50%;
    }
    .to_pad{
        padding-left: 10px;
    }

    #grid {
        grid: ". ."; 
    }
    #grid div {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    #grid .tablet_hide {
        display: none;
    }

    .h_link {
        font-weight: bold;
        font-size: 28px;
    }
    .p_link {
        font-size: 15px; 
    }
}

@media (max-width: 480px) {
    body {
        background-color: #FED9B7;
    }
    #container {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #header {
        background-color: #00AFB9;
    }
    #header p {
        display: none;
    }
    #header a {
        color: white;
    }
    
    #grid {
        grid: "."; 
    }
    #grid div {
        background-color: #FDFCDC;
        display: flex;
        flex-direction: row;
    }
    #grid div img {
        width: 50%;
    }
    .grid_text {
        text-align: left;
        padding-left: 10px;
    }
    #grid .phone_hide {
        display: none;
    }


    .h_link {
        font-weight: bold;
        font-size: 22px;
    }
    .p_link {
        font-size: 14px; 
    }
}

