@import "tailwindcss";
:root {
  background-color: rgb(12, 14, 13);
  color: rgb(12, 14, 13);
   
  --tw-color-primary: 229 46 0;
  --tw-color-secondary: 12 14 13

}

@layer utilities { /** no idea why utilities work better here */
  .bg-primary { background-color: rgb(var(--tw-color-primary))}
  .text-primary { color: rgb(var(--tw-color-primary))}
  .border-primary { border-color: rgb(var(--tw-color-primary));}
  
  .bg-secondary { background-color: rgb(var(--tw-color-secondary))}
}

@layer base {
  a {
    color: inherit;
    text-decoration:underline;
    font-weight: bold;
  }
  a:hover {
    filter: brightness(1.4)
  }
}